<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"level": "%level", "traceId": "%X{traceId}", "spanId": "%X{spanId}", "parentId":
                        "%X{X─B3─ParentSpanId}", "parentId2": "%X{parentSpanId}", "serviceName": "%X{serviceName}",
                        "threadId": "%thread", "sourceFileName": "%class", "requestPath": "%X{requestPath}",
                        "requestId": "%X{requestId}",
                        "message": "%message", "exception": "%ex"}
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
